{% extends 'main/header.html' %}
{% block body %}
    <!-- КАТАЛОГ -->
    {% for item in items %}
        <div class="row featurette">
            <div class="col-md-5 order-md-1">
                {% for photo in item.img %}
                    <p>{{ photo.image }}</p>
                    <a href="/media/{{ photo.image }}">

                        <img src="/media/{{ photo.image }}" class="img-fluid" alt="{{ photo }}"> <br>
                    </a>

                {% endfor %}
            </div>

            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">{{ item.name }}</h2>
                <h3>{{ item.price }} р</h3>
                <p class="lead">{{ item.description }}</p>
            </div>

        </div>

    {% endfor %}

{% endblock %}
