{% extends 'main/header.html' %}
{% block body %}
	<!-- КАТАЛОГ -->
    {% for candle in candles %}
    <div class="row featurette">
		<div class="col-md-5 order-md-1">
			<a href="#">
				<img src="{{ candle.image.url }}" class="img-fluid">
			</a>
		</div>
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading fw-normal lh-1">{{ candle.name }}</h2>
			<h3>{{ candle.price }} р</h3>
			<p class="lead">{{ candle.description }}</p>
		</div>
	</div>
        {% for photo in photos %}
            {{ photo.image.name }} <br>
        {% endfor %}
	<br>
    {% endfor %}
{% endblock %}