{% extends 'main/header.html' %}

{% block body %}
	
	<div class="container d-flex flex-wrap justify-content-center" style="text-align: center;">
		<div class="col-md-12">
			<h1>Как заказать</h1>
			<p class="lead">Для того, чтобы заказать свечи, напишите нам в WhatsApp или Telegram, или звоните по телефону: 79953388190.<br>
				Возможно изготовление каждой свечи из воска или парафина. В любом цвете.<br>
				Мы учтём все ваши пожелания, и сделаем свечу специально для вас.
			</p>
		</div>
		<div class="col-md-12">
			<a href="https://api.whatsapp.com/send/?phone=79953388190"><img src="img/WhatsApp.png" style="height: 70px;"></a>
			<a href=""><img src="img/Telegram.png" style="height: 70px;"></a>
		</div>
	</div>
  
{% endblock %}
