body{
	background-color: #FADFCC;
}

.brown_back{
	background-color: #492d19;
}







.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
